html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
a{background:0 0}
a:active,a:hover{outline:0}
img{border:0}
input,textarea{color:inherit;font:inherit;margin:0}
input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
textarea{overflow:auto}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body,html{height:100%;color:#333}
body{font-family:Helvetica,Arial,sans-serif}
input,textarea{border-radius:3px;border:1px solid #ddd;-webkit-appearance:none;padding:8px}
a{color:#4a8a4e}
img{width:100%}
::-webkit-input-placeholder{color:#aaa}
::-moz-placeholder{color:#aaa}
:-ms-input-placeholder{color:#aaa}
::placeholder{color:#aaa}
h1,h2,h3,h4{margin:2em 0 1em}
h1{font-size:1.7em;margin-top:1.2em}
h2{font-size:1.5em}
h3{font-size:1.2em}
h4{font-size:1em}
.has-noTopMargin{margin-top:0}
.is-textRightAligned{text-align:right}
.layout-outer{height:100%;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.EmbedContainer{border:1px solid #6fd274;position:relative;padding-bottom:56.25%;height:0;overflow:hidden;max-width:100%}
.EmbedContainer embed,.EmbedContainer iframe,.EmbedContainer object{position:absolute;top:0;left:0;width:100%;height:100%}
.Navbar{color:#fff;background-color:#6fd274;padding:8px;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;min-height:53px}
.Navbar-child{width:33.333%;display:inline-block;vertical-align:top}
.Navbar-logoLink{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;text-align:center}
.Navbar-logo{width:20px}
.Navbar-button{color:#fff;text-decoration:none;padding:8px 0}
.BackButtonImage{width:10px;height:1em}
.Content{-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;padding:8px}
.MessageField{-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;min-height:100px;width:100%}
.PasswordGroup{display:-webkit-flex;display:-ms-flexbox;display:flex;padding-bottom:8px;min-height:40px}
.PasswordField{-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;min-width:70%}
.HelpLink{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;margin-left:8px;vertical-align:bottom}
.HelpLink-image{width:30px}
.Help{-webkit-align-self:center;-ms-flex-item-align:center;align-self:center;padding:8px;max-width:600px;text-align:center;line-height:1.3;margin:0 auto}
.Help-logo{max-width:180px}
.Help-drawing,.Help-server-photo{max-width:400px}
.Review+.Review{margin-top:3em}
.Review-header{margin:0}
.Review-body{margin-top:0}
.Review-stars{color:#ff9500;font-size:1.2em}
.Review-by{margin:0}